name: Official website for github

on: workflow_dispatch

jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello
        run: echo "Helloworld"

      - name: Print goodbye
        run: echo "Gone-bye"
